mixin ttl-left(txt)
  // Заголовок с чертой слева
  .title-left
    .title-left__text= txt
    .title-left__line
  // /Заголовок с чертой слева

mixin blockTxtTop(ttl, txt, href)
  // Текстовый блок с картинкой сверху
  .block-pic-top
    .block-pic-top__pic(style={'background-image': "url('images/main__articles-1.jpg')"})
    .block-pic-top__cntnt
      .block-pic-top__cntnt-ttl= ttl
      .block-pic-top__cntnt-txt= txt
      .block-pic-top__cntnt-href
        a.block-pic-top__cntnt-href-a(href= href) Читать полностью
  // /Текстовый блок с картинкой сверху
    
mixin blockTxtLeft(ttl, txt, href)
  // Текстовый блок с картинкой слева
  .block-pic-left
    .block-pic-left__pic(style={'background-image': "url('images/main__articles-3.jpg')"})
    .block-pic-left__cntnt
      .block-pic-left__cntnt-ttl= ttl
      .block-pic-left__cntnt-txt= txt
      .block-pic-left__cntnt-href
        a.block-pic-left__cntnt-href-a(href= href) Читать полностью
  // /Текстовый блок с картинкой слева

mixin advBanner()
  // Рекламный баннер
  .adv-banner
    .adv-banner__txt Какой-то интересный заголовок может быть здесь. Кликабельный
  // /Рекламный баннер
  
mixin utp1(ttl, txt, btnTxt, btnId)
  // УТП вер.1
  .utp1
    .utp1__ttl= ttl
    .utp1__txt= txt
    .utp1__btn
      +redBtnModal(btnTxt, btnId)
  // /УТП вер.1
  
mixin redBtn(btnTxt, btnId)
  // Стандартная красная кнопка
  button(type='button' id= btnId).red-btn= btnTxt
  // /Стандартная красная кнопка
  
mixin advFullWidth()
  // Баннер на всю ширину
  .adv-full-width Место для баннер рекламы на сайте
  // /Баннер на всю ширину
  
mixin ttl-center(txt)
  // Заголовок с чертами по бокам
  .title-center
    .title-center__line-left
    .title-center__line-text= txt
    .title-center__line-right
  // /Заголовок с чертами по бокам
  
mixin moreBtn(txt, id)
  // Смотреть полный текст
  .main__seo-txt-more-btn(id= id)
    .main__seo-txt-more-btn-show Смотреть полный текст
    .main__seo-txt-more-btn-hide Скрыть полный текст
  // /Смотреть полный текст

mixin header__simple(simpleSliderClass, simpleSliderTtl)
  header.header__simple(class= simpleSliderClass)
    include navbar
    // Слайдер
    .simple__slider
      .container
        .row
          .col-12
            .simple__slider-ttl
              .simple__slider-ttl-left
              .simple__slider-ttl-txt= simpleSliderTtl
              .simple__slider-ttl-right

mixin breabcrumbs()
  .container
    .row
      .col-12
        // Крошки
        .breabcrumbs
          a(href='/').breabcrumbs__item Главная
          .breabcrumbs__separ /
          a(href='#').breabcrumbs__item Первая страница
          .breabcrumbs__separ /
          a(href='#').breabcrumbs__item Вторая страница
          .breabcrumbs__separ /
          .breabcrumbs__item.breabcrumbs__item-current Текущая страница
        // /Крошки

mixin sideMenu()
  // Боковое меню
  .side-menu
    a(href='#').side-menu__item Административно-территориальное деление Китая
    a(href='#').side-menu__item.active Политический строй. Китая
    a(href='#').side-menu__item Правительство Китая
    a(href='#').side-menu__item Состав Правительства Китая

mixin utp2()
  // УТП вер.2
  .utp2
    .container
      .row
        .col-12.text-center
          .utp2__ttl Заказать 
            span.utp2__ttl-yellow бесплатную 
            | оценку стоимости перевода
          .utp2__txt Для точной оценки стоимость заказа, мы просим прислать Ваш текст на оценку или связаться с нами по телефону или электронной почте.
          .utp2__btn
            +redBtnModal2('Загрузить текст', 'utp2')
  // /УТП вер.2

  
mixin pagination()
  // Пагинация
  .pagination
    a(href='#').pagination__item 1
    a(href='#').pagination__item 2
    .pagination__item.pagination__item-current 3
    .pagination__item ...
    a(href='#').pagination__item 6
  // /Пагинация

mixin left-links()
  // Ссылочный блок слева 
  .trans__links
    .trans__links-ttl Здесь могут быть ссылки
    .trans__links-items
      a(href='#' target='_blank').trans__links-item Название полезной ссылки
      a(href='#' target='_blank').trans__links-item Название полезной ссылки
      a(href='#' target='_blank').trans__links-item Название полезной ссылки
      a(href='#' target='_blank').trans__links-item Название полезной ссылки
      a(href='#' target='_blank').trans__links-item Название полезной ссылки
      a(href='#' target='_blank').trans__links-item Название полезной ссылки
      a(href='#' target='_blank').trans__links-item Название полезной ссылки
      a(href='#' target='_blank').trans__links-item Название полезной ссылки
  // /Ссылочный блок слева 
  
mixin side-text-right()
  // Текст в колонке справа
  .side-text-right
    .side-text-right__ttl
      +ttl-left('СЕО Заголовок')
    .side-text-right_txt
      p Вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языкевебмастеру на русском языке вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языкевебмастеру на русском языке вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языкевебмастеру на русском языке вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языкевебмастеру на русском языке
      p Вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке вебмастеру на русском языке вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языкевебмастеру на русском языке
      p Вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке вебмастеру
  // Текст в колонке справа
  
mixin kitaevedi__item(classes)
  // Карточка с человеком со ссылкой
  a.col-12.col-md-6.col-lg-3.kitaevedi__items-item(href='#' class= classes)
    .kitaevedi__items-item-img(style='background-image: url(images/doska-inner__img-round.jpg)')
    .kitaevedi__items-item-ttl Евгения Савченко
    .kitaevedi__items-item-descr Краткое описание китаеведа, информация о нем, откуда, какие.
  // /Карточка с человеком со ссылкой

mixin about__item(classes)
  // Карточка с человеком без ссылки
  .col-12.col-md-6.col-lg-4.text-center.mb-5
    .kitaevedi__items-item-img(style='background-image: url(images/doska-inner__img-round.jpg)')
    .kitaevedi__items-item-ttl Евгения Савченко
    .kitaevedi__items-item-descr Краткое описание китаеведа, информация о нем, откуда, какие.
  // /Карточка с человеком без ссылки

mixin sideMenuActive()
  // Боковое меню
  ul.catalog#sideMenu
    li.catalog-menu__link.catalog-menu__link_parent-label Ссылка
    // Вложенное меню
    ul
      li.catalog__submenu
        li.catalog-menu__link.catalog-menu__link_parent-label Ссылка
        // Вложенное меню
        ul
          li.catalog__submenu
            a(href='#').catalog-menu__link Ссылка
          li.catalog__submenu
            a(href='#').catalog-menu__link Ссылка
          li.catalog__submenu
            a(href='#').catalog-menu__link Ссылка
      li.catalog__submenu
        a(href='#').catalog-menu__link Ссылка
      li.catalog__submenu
        a(href='#').catalog-menu__link Ссылка
    li.catalog-menu__link.catalog-menu__link_parent-label Ссылка
    ul
      li.catalog__submenu
        a(href='#').catalog-menu__link Ссылка
      li.catalog__submenu
        a(href='#').catalog-menu__link Ссылка
      li.catalog__submenu
        a(href='#').catalog-menu__link Ссылка
    li.catalog-menu__link.catalog-menu__link_parent-label Ссылка
    ul
      li.catalog__submenu
        a(href='#').catalog-menu__link Ссылка
      li.catalog__submenu
        a(href='#').catalog-menu__link Ссылка
      li.catalog__submenu
        a(href='#').catalog-menu__link Ссылка
  script.
    function handler( event ) {
      var target = $( event.target );
      if ( target.is( "li" ) ) {
        target.next().slideToggle();
        target.toggleClass('active');
      }
    }
    $( ".catalog" ).click( handler ).find( "ul" ).hide();
  // /Боковое меню
  
mixin seo-center()
  //- Сео текст
  .seo-center
    .seo-center-ttl
      +ttl-center('СЕО заголовок')
    .seo-center-txt
      p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвест сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвестный. Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвест сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвестный.
      p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвест сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвестный.
      p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвест сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвестный. Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвест сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвестный.
      .seo-center-txt-more-btn-wrap
        +moreBtn('Смотреть полный текст', 'main-seo-more-btn')
  //- /Сео текст  
  
mixin seoText()
  // Сео-текст с кнопкой "подробнее"
  .main-seo
    .main-seo-ttl
      +ttl-center('СЕО заголовок')
    .main-seo__text-wrap
      .main-seo__text
        p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвест сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвестный. Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвест сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвестный.

        p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвест сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвестный.

        p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвест сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвестный. Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвест сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвестный.

        p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвест сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвестный. Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвест сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвестный.

        p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвест сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвестный. Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвест сгенерировать несколько абзацев более менее осмысленного текста отточить использовали небезизвестный.
      //- // Градиент внизу текста
      //- .main-seo__text-grad
    .main-seo__more(onclick="mainSeo()")
      .main-seo__more-show Смотреть полный текст
      .main-seo__more-hide Свернуть
    script.
      const mainSeo = () =>
      {
      var seoCont = document.querySelector('.main-seo'),
      btn = document.querySelector('.main-seo__more'),
      text = document.querySelector('.main-seo__text'),
      textHeight = text.offsetHeight,
      textWrap = document.querySelector('.main-seo__text-wrap'),
      textWrapHeight = textWrap.offsetHeight;

      if (!seoCont.className.includes('active'))
      {
      textWrap.style.height = textHeight + 'px';
      }
      else
      {
      textWrap.style.height = '250px';
      }
      seoCont.classList.toggle('active');
      }
      
mixin kitaevedi__item(classes)
  // Карточки китаеведов
  a.kitaevedi__items-item(href='kitaevedi-inner.html' class= classes)
    .kitaevedi__items-item-img(style='background-image: url(images/doska-inner__img-round.jpg)')
    .kitaevedi__items-item-ttl Евгения Савченко
    .kitaevedi__items-item-descr Краткое описание китаеведа, информация о нем, откуда, какие.

mixin modal()
  // Модальное окно - оформить заявку на перевод
  #modal1.modal.fade
    .modal-dialog
      .modal-content.pb-4.pt-4
        .modal-content__title.pl-3.pr-3.text-center Оформить заявку на перевод
        form#orderTranslation.modal-content__form(action="assets/send.php" method="POST")
          .modal-content__form-cols.p-3.flex-column.flex-sm-row
            .modal-content__form-cols-col.p-2
              input.modal-content__form-cols-col-input(type='text' name='fio' placeholder='ФИО')
              input.modal-content__form-cols-col-input(type='tel' name='phone' placeholder='+7(123) 345 67 89')
              input.modal-content__form-cols-col-input(type='mail' name='mail' placeholder='Email')
            .modal-content__form-cols-col.p-2
              textarea.modal-content__form-cols-col-textarea(name='dopinfo' placeholder='Дополнительная информация')
              .modal-content__form-cols-col-file(onclick="document.getElementById('orderTranslationFile').click()") Прикрепить файлы для перевода
              input#orderTranslationFile(type='file' name='file' style='display:none;')
          .modal-content__form-submit.pl-3.pr-3
            +redBtnModalSubmit('Отправить')
mixin modal2()
  // Модальное окно - заказать бесплатную оценку стоимости
  #modal2.modal.fade
    .modal-dialog
      .modal-content.pb-4.pt-4
        .modal-content__title.pl-3.pr-3.text-center Заказать бесплатную оценку стоимости
        form#orderOcenka.modal-content__form(action="assets/send.php" method="POST")
          .modal-content__form-cols.p-3.flex-column.flex-sm-row
            .modal-content__form-cols-col.p-2
              input.modal-content__form-cols-col-input(type='text' name='fio' placeholder='ФИО')
              input.modal-content__form-cols-col-input(type='tel' name='phone' placeholder='+7(123) 345 67 89')
              input.modal-content__form-cols-col-input(type='mail' name='mail' placeholder='Email')
            .modal-content__form-cols-col.p-2
              textarea.modal-content__form-cols-col-textarea(name='dopinfo' placeholder='Дополнительная информация')
              .modal-content__form-cols-col-file(onclick="document.getElementById('orderOcenkaFile').click()") Прикрепить файлы для перевода
              input#orderOcenkaFile(type='file' name='file' style='display:none;')
          .modal-content__form-submit.pl-3.pr-3
            +redBtnModalSubmit('Отправить')
mixin modal3()
  // Модальное окно - Подать объявление
  #modal3.modal.fade
    .modal-dialog
      .modal-content.pb-4.pt-4
        .modal-content__title.pl-3.pr-3.text-center Оставить объявление на сайте
        form#orderDoska.modal-content__form(action="assets/send.php" method="POST")
          .modal-content__form-cols.p-3.flex-column.flex-sm-row
            .modal-content__form-cols-col.p-2
              input.modal-content__form-cols-col-input(type='text' name='fio' placeholder='ФИО')
              input.modal-content__form-cols-col-input(type='tel' name='phone' placeholder='+7(123) 345 67 89')
              input.modal-content__form-cols-col-input(type='mail' name='mail' placeholder='Email')
            .modal-content__form-cols-col.p-2
              textarea.modal-content__form-cols-col-textarea(name='dopinfo' placeholder='Текст объявления')
              .modal-content__form-cols-col-file(onclick="document.getElementById('orderDoskaFile').click()") Загрузить фото
              input#orderDoskaFile(type='file' name='file' style='display:none;')
          .modal-content__form-submit.pl-3.pr-3
            +redBtnModalSubmit('Отправить')
                        
mixin modal4()
  // Модальное окно - Законы
  #modal4.modal.fade
    .modal-dialog
      .modal-content.modal-content_laws
        .modal-content__img
        .modal-content__ttl Закон о правах и вещах
        .modal-content__intro Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему
        .modal-content__txt Кратеок описание и так далее.Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык 
        
mixin modal5()
  // Модальное окно - Купить
  #modal5.modal.fade
    .modal-dialog
      .modal-content.pb-4.pt-4
        .modal-content__title.pl-3.pr-3.text-center Оставьте свои контактные данные и мы свяжемся с Вами, чтобы уточнить детали заказа
        form#buy.modal-content__form(action="assets/send.php" method="POST")
          .modal-content__form-cols.p-3.flex-column.flex-sm-row
            .modal-content__form-cols-col.p-2
              input.modal-content__form-cols-col-input(type='text' name='fio' placeholder='ФИО')
              input.modal-content__form-cols-col-input(type='tel' name='phone' placeholder='+7(123) 345 67 89')
              input.modal-content__form-cols-col-input(type='mail' name='mail' placeholder='Email')
            .modal-content__form-cols-col.p-2
              textarea.modal-content__form-cols-col-textarea(name='dopinfo' placeholder='Название закона или документа для перевода')
          .modal-content__form-submit.pl-3.pr-3
            +redBtnModalSubmit('Отправить')

mixin redBtnModal(btnTxt, btnId)
  // Стандартная красная кнопка - вызов модалки
  button(type='button' id= btnId data-toggle='modal' data-target='#modal1').red-btn= btnTxt
  // /Стандартная красная кнопка - вызов модалки
mixin redBtnModalSubmit(btnTxt)
  // Стандартная красная кнопка - вызов модалки
  button(type='submit').red-btn= btnTxt
  // /Стандартная красная кнопка - вызов модалки

mixin redBtnModal2(btnTxt, btnId)
  // Стандартная красная кнопка - вызов модалки
  button(type='button' id= btnId data-toggle='modal' data-target='#modal2').red-btn= btnTxt
  // /Стандартная красная кнопка - вызов модалки

  
mixin bigRedButton()
  // Большая красная кнопка
  .big-red-button#big-red-button(data-toggle='modal' data-target='#modal3') Оставить объявление
  // /Большая красная кнопка
